@import '~node_modules/modern-normalize/modern-normalize.css';
@import '../utils/variables';

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

.body {
  margin: 0 auto;
  font-family: getFont('main-font'), sans-serif;
  color: getColor('main-color');
  font-size: 12px;
}

.container {
  min-width: 320px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 20px;
}

.film-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 75px;
  }

  .film-cards {
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0px 71px;
  }
}

.button {
  width: 100%;
  border-radius: 5px;
  padding-top: 14px;
  padding-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-family: getFont('main-font');
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: getColor('basic-color');

  &--active {
    border: none;
    background-color: getColor('button-color');
  }

  &--inactive {
    background-color: transparent;
    border: 1px solid getColor('basic-color');
  }
}
