<header>
  <div class="container">
    <div id="hero" class="hero-header">
      <div class="hero-header__top">
        <a class="logo" href="index.html">
          <!-- <img
            class="logo__img"
            alt="Filmoteka logo"
            src="./images/header/logo/logo.png"
            srcset="./images/header/logo/logo@2x.png 2x"
          /> -->
        </a>
        <nav>
          <ul class="navigation">
            <li>
              <a
                class="navigation__link navigation__link--underlined"
                href="index.html"
                >Home</a
              >
            </li>
            <li>
              <a class="navigation__link" href="library.html">My library</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="hero-header__bottom">
        <form class="search-form">
          <input
            class="search-form__input"
            type="text"
            name="searchQuery"
            placeholder="
            Search
            movies"
          />
          <button type="submit" class="search-button">
            <!-- <svg class="search-form__icon" width="12" height="12">
              <use href="./images/icons.svg#icon"></use>
            </svg> -->
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
