<header>
  <div class="header-home">
    <div class="container">
      <div id="hero" class="hero-header">
        <div class="hero-header__top">
          <a class="logo__link" href="index.html">
            <svg class="logo__icon" width="24" height="24">
              <use href="./images/icons_optimalised.svg#icon-film"></use>
            </svg>
            <span class="logo__text">Filmoteka</span>
          </a>
          <nav>
            <ul class="navigation">
              <li class="navigation__item">
                <a
                  class="navigation__link navigation__link--underlined"
                  href="index.html"
                  >Home</a
                >
              </li>
              <li class="navigation__item">
                <a class="navigation__link" href="library.html">My library</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="hero-header__bottom">
          <form class="search-form">
            <input
              class="search-form__input"
              type="text"
              name="searchQuery"
              placeholder="Search movies"
            />
            <button type="submit" class="search-button">
              <svg class="search-form__icon" width="12" height="12">
                <use href="./images/icons_optimalised.svg#icon-search"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
