<header>
  <div class="container">
    <div id="library" class="hero-header">
      <div class="hero-header__top">
        <a class="logo" href="index.html">
          <!-- <img
            class="logo__img"
            alt="Filmoteka logo"
            src="./images/header/logo/logo.png"
            srcset="./images/header/logo/logo@2x.png 2x"
          /> -->
        </a>
        <nav>
          <ul class="navigation">
            <li>
              <a class="navigation__link" href="index.html">Home</a>
            </li>
            <li>
              <a
                class="navigation__link navigation__link--underlined"
                href="library.html"
                >My library</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="hero-header__buttons">
        <button class="button button--active" type="button">Watched</button>
        <button class="button button--inactive" type="button">Queue</button>
      </div>
    </div>
  </div>
</header>
