<div class="backdrop is-hidden">
    <div class="modal">
        <svg class="modal-close" width="20" height="20">
            <use href="/src/images/icons.svg#icon-x"></use>
        </svg>
        <div class="modal-content">
            <div class="modal-container-film">
                <img class="modal-img"/>
                <div class="film-details">
                    <h2 class="film-details__main-title">original_title</h2>
                    <ul class="details-list list">
                        <li class="details-list__item">
                            <p class="details-list_title">Vote / Votes</p>
                            <span class="details-list__information-1">vote_average</span>&nbsp/&nbsp<span
                                class="details-list__information-2">vote_count</span>
                        </li>
                        <li class="details-list__item">
                            <p class="details-list_title">Popularity</p>
                            <span class="details-list__information-2">popularity</span>
                        </li>
                        <li class="details-list__item">
                            <p class="details-list_title">Original Title</p>
                            <span class="details-list__information-2 ">original_title</span>
                        </li>
                        <li class="details-list__item">
                            <p class="details-list_title">Genre</p>
                            <span class="details-list__information-2"></span>
                        </li>
                    </ul>
                    <h3 class="film-details__secondary-title">About</h3>
                    <p class="film-details__about">overview</p>
                    <ul class="buttons-list list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>